{% extends "base.html" %}

{% block title %}- Publications{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

<div class="wrapper style2">

    
    <div>
        Mission
    </div>

    <h1>The Lifelong Wellbeing Lab</h1>
    <div class="team">


    <div class="team_member">
        <img src="/static/images/people/kat.png">
        <p>Ekaterina Taran</p>
    </div>

     <div class="team_member"">
        <img src="/static/images/people/daniele.jpg">
        <p>Daniele Didino</p>
    </div>
     <div class="team_member"">
        <img src="/static/images/people/helen.jpg">
        <p>Elena Frolova</p>
    </div>
         <div class="team_member"">
        <img src="/static/images/people/kristina.jpg">
    <p>Kristina Gorodetski</p>

    </div>
    <div class="team_member"">
        <img src="/static/images/people/flo.jpg">
        <p>Florian Daniel</p>
    </div>
        <div class="team_member"">
        <img src="/static/images/people/sveta.jpg">
        <p>Svetlana Nikitina</p>
    </div>
    
    </div>
    

    </div>
{% endblock %} 
