{% extends "base.html" %}

{% block title %}- Publications{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

<div class="wrapper style2">

    
    <div class="pubs">
        The mission of the LLW lab is to rethink and redesign life after retirement.


Life after retirement has changed dramatically over the last few decades, and even more so over the last 10 years! 
These changes have not always been for the better. In fact, in many ways we are worse off than we were half a century ago: we spend more years with reduced cognitive and physical abilities, we have less chance to interact with our busy children who live far away, and, perhaps most importantly, we lost one of the key roles of old age, that of helping to care for our grandchildren.

Most research and programs focus on health or in reducing the cost for the government by keeping people at home. The result is that we focus on “economically sustainable survival”, and we propagate the message that old people should be happy just to be alive.

What LLW wants to achieve is to create the condition and identify the policies, social norms, and (technological) solutions that can contribute to make old adulthood a fun and exciting period, deeply fulfilling, and full of dreams, love, opportunities and anticipation for what the future will bring. We strive to understand what brings joy in this period of life and to create the conditions to make it possible for people to savour the later stages in life.
    </div>
    <br>
    <h1 class="pubs">People</h1>
    
    <div class="team">


        <div class="team_member">
            <img src="/static/images/people/kat.png">
            <p>Ekaterina Taran</p>
        </div>

         <div class="team_member">
            <img src="/static/images/people/daniele.jpg">
            <p>Daniele Didino</p>
         </div>

         <div class="team_member">
            <img src="/static/images/people/helen.jpg">
            <p>Elena Frolova</p>
          </div>

         <div class="team_member">
            <img src="/static/images/people/kristina.jpg">
            <p>Kristina Gorodetski</p>
         </div>

        <div class="team_member">
            <img src="/static/images/people/flo.jpg">
            <p>Florian Daniel</p>
        </div>

         <div class="team_member">
            <img src="/static/images/people/sveta.jpg">
            <p>Svetlana Nikitina</p>
         </div>

          <div class="team_member">
            <img src="/static/images/people/fabioweb.jpg">
            <p>Fabio Casati</p>
         </div>
        
        <div class="team_member">
            <img src="/static/images/people/olga.jpg">
            <p>Olga Korovina</p>
         </div>
    
    </div>
    

   </div>
{% endblock %} 
