<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Lifelong Wellbeing Lab {% block title %}{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" type="text/css" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div   class="container">
							
						<!-- Logo -->
							<h1><a href="#" id="logo">LLW</a></h1>
						    <img src="/static/images/tpu-logo.gif">    
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Technologies</a>
										<ul>
											<li><a href="http://www.lifeparticipation.org/lifeshare.html">Lifeshare</a></li>
											<li><a href="http://gymcentral.net">Gymcentral</a></li>
											
											<li><a href="#">PerTE</a></li>
										</ul>
									</li>
									<li><a href="left-sidebar.html">Studies and Data</a>
										<ul>
											<li><a href="#">Happiness and older adults</a></li>
											<li><a href="#">Buying happiness</a></li>
											<li><a href="#">Activity, mental health and happiness</a></li>
										</ul>			
									</li>
									<li><a href="pubs.html">Publications</a></li>
                                    <li><a href="http://lwl.tpu.ru">Learning</a></li>
									<li><a href="no-sidebar.html">About us</a>
                                    <ul>
											<li><a href="#">Our mission</a></li>
											<li><a href="#">Our people</a></li>
										</ul>
                                    </li>
								</ul>
							</nav>
	
					</div>
				</div>
				
			<!-- Banner -->
                        {% block banner %}
        
       
        
        
                       
				<div id="banner">
					<section class="container">
						<h2>Lifelong Wellbeing Lab</h2>
						<span>Make Somebody Happier Today</span>
						<p></p>
					</section>
				</div>
                
                 {% endblock %}

			</div>
		
		<!-- content -->

        
        
        {% block content %}
        
       
        
        
         {% endblock %}
        
        
        
	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>(Connected) Knowledge is Power</h2>
					<span class="byline">Connect with us to get insights, stories, results</span>
				</header>
                            <!-- Begin MailChimp Signup Form -->
            
                    <div class="simplesignup">
                        <form action="//happinessfactory.us8.list-manage.com/subscribe/post?u=1130b23a8e42dd0b0ea72c26f&amp;id=b3f9c4eefd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <label style="display:none;"for="mce-EMAIL">Subscribe to receive happiness information and stats we find interesting</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div>
                                <input type="text" name="b_1130b23a8e42dd0b0ea72c26f_b3f9c4eefd" tabindex="-1" value="">
                            </div>
                            <div>
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </form>
                    </div>
                    

<!--End mc_embed_signup-->
				<ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">
					Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
				</div>			
		</div>

	</body>
</html>