{% extends "base.html" %}

{% block title %}- Publications{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="wrapper style2">


        
    <section class="event">
        
        <h1><a href="http://llw.tpu.ru">Wellso Wellbeing symposium</a></h1>
        <p>
        </p>
        <div class="media"></div>

        <h1>Workshop on Technologies for Calm</h1>
        <p>
        </p>
        <div class="media"></div>
        
    </section>    
        
        
    </p>
    </div>
{% endblock %} 
