<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Lifelong Wellbeing Lab</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" type="text/css" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div   class="container">
							
						<!-- Logo -->
							<h1><a href="#" id="logo">LLW</a></h1>
						    <img src="/static/images/tpu-logo.gif">    
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Technologies</a>
										<ul>
											<li><a href="http://www.lifeparticipation.org/lifeshare.html">Lifeshare</a></li>
											<li><a href="http://gymcentral.net">Gymcentral</a></li>
											
											<li><a href="#">PerTE</a></li>
										</ul>
									</li>
									<li><a href="left-sidebar.html">Studies and Data</a>
										<ul>
											<li><a href="#">Happiness and older adults</a></li>
											<li><a href="#">Buying happiness</a></li>
											<li><a href="#">Activity, mental health and happiness</a></li>
										</ul>			
									</li>
									<li><a href="right-sidebar.html">Publications</a></li>
                                    <li><a href="http://lwl.tpu.ru">Learning</a></li>
									<li><a href="no-sidebar.html">About us</a>
                                    <ul>
											<li><a href="#">Our mission</a></li>
											<li><a href="#">Our people</a></li>
										</ul>
                                    </li>
								</ul>
							</nav>
	
					</div>
				</div>
				
			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2>Lifelong Wellbeing Lab</h2>
						<span>Make Somebody Happier Today</span>
						<p></p>
					</section>
				</div>

			</div>
		
		<!-- Section One -->
			<div class="wrapper style2">
				<section class="container">
					<div class="row double">
						<div class="6u" id="quotation">
							<header class="major">
								<h2>The great secret old people share is that your body changes,<br> but you don’t change at all.</h2>
								<span class="byline">Doris Lessing, 2007 Nobel prize in literature.</span>
							</header>
						</div>
						<div class="6u">
							<h3>Our passion</h3>
							<p>We want people to help people have fun and enjoy, savour life. We want to make sure people can’t wait to get up in the morning. We work specifically with older adults, because there worked so hard and surely deserve some fun..</p>
							<a href="#" class="button">Read our mission statement</a>
						</div>
					</div>
				</section>
			</div>

		<!-- Section Two 
			<div class="wrapper style3">
				<section class="container">
					<header class="major">
						<h2>Studies and Interventions</h2>
					</header>
					<p>We work by studies and interventions. Studies try to find out what makes older adults - and their family members - happier or worried. Interventions use technology to help people be active participants to society.</p>
					<a href="#" class="button alt">See what we have achieved so far</a>
				</section>
			</div>
-->

		<!-- Section Three -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>Here is what we are cooking</h2>
						<span class="byline">Work in progress and results.</span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>"Master" happiness study</h3>
									<p>A longitudinal study on over a thousand Siberian older adults.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Activity and happiness</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Promoting active lifestyles</h3>
									<p>If activity is related to happiness, how can older adults get active?</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Love and happiness</h3>
									<p>We study love in later life and its connection with happiness.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Life interactions and happiness</h3>
									<p>We develop solutions to help older adults be connected with and contribute to society.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>The irrationality of happiness</h3>
									<p>We compare what makes us happy, what we think makes us happy, and what we do to make us happy.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Happy Shopping</h3>
									<p>Which purchases give us greater <br>wellbeing? </p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Do you <i>look</i> happy?</h3>
									<p>Do people with greater wellbeing also look happier?</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Mens sana in corpore sano</h3>
									<p>We examine and experiment on the relation between mindfulness and happiness in older adults.</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>

	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>(Connected) Knowledge is Power</h2>
					<span class="byline">Connect with us to get insights, stories, results</span>
				</header>
                            <!-- Begin MailChimp Signup Form -->
            
                    <div class="simplesignup">
                        <form action="//happinessfactory.us8.list-manage.com/subscribe/post?u=1130b23a8e42dd0b0ea72c26f&amp;id=b3f9c4eefd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <label style="display:none;"for="mce-EMAIL">Subscribe to receive happiness information and stats we find interesting</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div>
                                <input type="text" name="b_1130b23a8e42dd0b0ea72c26f_b3f9c4eefd" tabindex="-1" value="">
                            </div>
                            <div>
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </form>
                    </div>
                    

<!--End mc_embed_signup-->
				<ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">
					Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
				</div>			
		</div>

	</body>
</html>