{% extends "base.html" %}

{% block title %}- Working on Happiness{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="wrapper style2">
    <section class="pubs">

        
                <h1>The basics</h1>
We look for passionate people who are curious and motivated by a desire to learn (deeply) and improve themselves and society. We need 100% of the time commitment. English is the working language so you will need to be fluent in spoken and written english (minimum B2, but C1 preferred).
        We offer a phd in a stimulating research enviroment, a more-than-reasonable scholarship support so that you can devote your full time to your phd, and the possibility of a dual degree with foreign institutions (a period abraod is required and funded by the project).
        
        
        
        <h1>Research topics </h1>
        
        
 In terms of topics: the topics that require IT research and development are:
        <ul>
            <li>crowdsourcing solutions that make it possible for older adults to contribute to society</li>
<li>the point above requires training, so in scope is also online learning for older adults</li>
<li>pure social interaction applications: in this we are particularly interested in no-touch applications, that is, apps where older adults do not have to touch a button, or to speak, or to do anything at all to operate the app. Or, at most, at one-touch apps. </li>
        </ul> 
For each of the above, the social dimension is essential, which means that crowdsourcing, online learning, etc, always have also the purpose to connect people and encourage conversations

we will always be working in a team so everything must fit together.


 <h1>Technologies</h1>

We develop using: 
        <ul>
            <li>Frontend: html/css/js (jquery and angular) </li>
            <li>Backend: mostly on python on google app engine</li>
            <li>github for sharing</li>
            <li>nose for testing</li>
        </ul>
A deep understanding of how the web works, including web on mobile (including security and performance issues) is also essential. If you have strong programming and CS background, most of this can be learned easily (python is really easy), with 2 weeks of free, intensive online classes.


 <h1>How to apply</h1>
          
        Please email <a href="mailto:jobs@happinessfactory.org">jobs@happinessfactory.org</a> with your CV in PDF format to apply
        
        </section>
    </div>
{% endblock %} 
