{% extends "base.html" %}

{% block title %}- Publications{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="wrapper style2">
    <section class="pubs">

        
        <h1>Publications by lab members</h1>
        <ul>
            <li> Khaghani Far I, Ferron M, Ibarra F, Baez M, Tranquillini S, Casati F, Doppio <a href="https://drive.google.com/file/d/0B6wYTj5TLtMxWC15U0U5YjhTc1E/view?usp=sharing"> The interplay of physical and social wellbeing in older adults: investigating the relationship between physical training and social interactions with virtual social env </a>. <small> ironments. PeerJ Computer Science 1:e30</small>
            </li>
            <li> Francesca Leccea, b, Vincent Walsha, Daniele Didinoc, Marinella Cappelletti <a href="http://www.sciencedirect.com/science/article/pii/S0010945215003019"> ‘How many’ and ‘how much’ dissociate in the parietal lobe </a>
            </li>
            <li> Tranquillini, S., Daniel, F., Kucherbaev, P., Casati, F. <a href="https://drive.google.com/file/d/0B6wYTj5TLtMxTG1rY0JWR3VsRW8/view?usp=sharing"> BPMN Task Instance Streaming for Efficient Micro-Task Crowdsourcing Processes </a>.
            </li>
            <li> Didino, D., Knops, A., Vespignani, F., Kornpetpanee, S. <a href="http://www.sciencedirect.com/science/article/pii/S0010027715000736"> Asymmetric activation spreading in the multiplication associative network due to asymmetric overlap between numerosities semantic representations?. Cognition, 141, 1-8. </a>. <small> Recent evidence suggests that the age-related cognitive decline may be slowed or attenuated by means of cognitive training programs.
                These programs often use tasks (games) that challenge specific cognitive functions. Arithmetic skills are part of the high level cognitive
                 functions that are affected by cognitive decline. The comprehension of how complex stimuli (like, for example, arithmetic problems) are
                 processed by healthy brain is the first step to understand which kind of deficit impairs the performance of older adults affected by cognitive decline.</small>
            </li>
            
            <li>Tranquillini, Daniel, Kucherbaev, Casati. <a href= "http://dl.acm.org/citation.cfm?id=2746353&CFID=657464046&CFTOKEN=89780302"> Modeling, Enacting and Integrating Custom Crowdsourcing Processes. </a>  <small>This paper deals with crowdsourcing technologies, and lays the foundation for enabling contributions by older adults by means of crowdsourcing.</small>
                
            </li>
            <li>Eva van het Revel,  Patrícia Silveira, Florian Daniel,  Fabio Casati,  Eling D de Bruin. <a href="http://www.jmir.org/2014/6/e159/"> Tablet-Based Strength-Balance Training to Motivate and Improve Adherence to Exercise in Independently Living Older People: Part 2 of a Phase II Preclinical Exploratory Trial. </a> JMIR Vol 16, No 6 (2014). <small>This article describes the result of a study of leveraging tablet-based training programs for supporting active lifestyle among older adults.</small> </li>
            <li> S. Roy Chowdhury, F. Daniel and F. Casati. <a href="http://dl.acm.org/citation.cfm?id=2663500&dl=ACM&coll=DL&CFID=595053625&CFTOKEN=88788812">Recommendation and Weaving of Reusable Mashup Model Patterns for Assisted Development. ACM TOIT, Volume 14 Issue 2-3, October 2014 </a>. <small> This article describes a method that will be used in the design of the life participation platform for older adults. It's importance lies in the fact that older adults have a very wide range of capabilities and therefore we need to be able to fleibly create and combine services that adapt to each individual's skills.</small>
            </li>
            <li>C. Parra, P. Silveira, I. K. Far, F. Daniel, E. D. De Bruin, L. Cernuzzi, V. D'Andrea, and F. Casati. <a href="http://www.nowpublishers.com/articles/foundations-and-trends-in-humancomputer-interaction/HCI-053"> Information Technology for Active Ageing: A Review of Theory and Practice. </a> NOW Vol 4, Issue 4.
                
            </li>
            
            <li>Galena Kostoska, Marcos Baez, Florian Daniel and Fabio Casati <a href="https://patch2015.wordpress.com"> Virtual, Remote Participation in Museum Visits by Older Adults: A Feasibility Study </a>
                
            </li>
        </ul>
        
            <h1>General Happiness Studies</h1>
            <ul>
                <li>World Happiness Report, 2013 (<a href = "https://www.google.it/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CCEQFjAA&url=http%3A%2F%2Funsdsn.org%2Fwp-content%2Fuploads%2F2014%2F02%2FWorldHappinessReport2013_online.pdf&ei=DocaVKK8Nae8ygOSx4DABw&usg=AFQjCNEpECIvE9qiiv5vNmTqgq1yQSp9NA&bvm=bv.75097201,d.bGQ">pdf</a>)
                </li>
                <li>
                George Vaillant.	
                    <a href = "ttp://www.duodecim.fi/xmedia/duo/pilli/duo99210x.pdf">
                        Happiness is Love. Full stop.	</a>
                        	</li>		
            </ul>

    
        <h1>Happiness and Health</h1>
        <p>
            
            <ul>
                <li>
            S. Cohen adn S. Pressman.	
            Positive affect and Health.	
            Current Directions in Psychological Science 15(3), 2006</li>
            
            <li>E. Diener and M. Chan.	
            Happy People Live Longer: Subjective Well-Being Contributes to Health and Longevity.
            Applied Psychology: Health and Well-Being, 2011 3(1)
            </li>
                <li>Garatachea, N., Molinero, O., Martínez-García, R., Jiménez-Jiménez, R., González-Gallego, J., & Márquez, S. (2009). <a href = "http://www.aggjournal.com/article/S0167-4943%2808%2900054-X/abstract">Feelings of well being in elderly people: relationship to physical activity and physical function.</a> Archives of gerontology and geriatrics, 48(3), 306-312.</li>
                
                <li> Norman E., Margaret S., Osborne R. H., and Galea M. P. (2010). <a href = "http://ptjournal.apta.org/content/90/3/348.long"> An Exercise and Education Program Improves Well-Being of New Mothers: A Randomized Controlled Trial. </a> Physical Therapy, vol. 90 no. 3, 348-355.</li>

<li> Armstrong K., and Edwards H. (2003). <a href = "http://onlinelibrary.wiley.com/doi/10.1046/j.1440-0979.2003.00229.x/full"> The effects of exercise and social support on mothers reporting depressive symptoms: A pilot randomized controlled trial. </a> International Journal of Mental Health Nursing, 12(2), 130-138.</li>

<li> Sampselle CM, Seng J, Yeo S, Killion C, Oakley D. (1999).
<a href = "http://www.library.armstrong.edu/eres/docs/eres/NURS4445-1_TAGGART/444527tagPhysical.pdf"> Physical activity and postpartum well-being. </a> Journal of Obstetric, Gynecologic, and Neonatal Nursing, 28(1), 41-49.</li>
            </ul>
            
        </p>
        
        <h1>Happiness and Money</h1>
        <p>
            <ul>
                <li>Johnson, W., and Krueger, R. F. (2006). <a href = "http://psycnet.apa.org/journals/psp/90/4/680/">How money buys happiness: Genetic and environmental processes linking finances and life satisfaction.</a> Journal of personality and social psychology, 90(4), 680-691.</li>
           <li> Chancellor, J.,  Lyubomirsky, S. (2011). 
               <a href = "http://www.sciencedirect.com/science/article/pii/S1057740811000222">
                   Happiness and thrift: When (spending) less is (hedonically) more.</a> Journal of Consumer Psychology, 21(2), 131–138. </li>

<li>Pchelin, P.,  Howell, R. T. (2014). 
    <a href = "http://www.sciencedirect.com/science/article/pii/S0006320712003345">The hidden cost of value-seeking: People do not accurately forecast the economic benefits of experiential purchases.</a> The Journal of Positive Psychology, 9(4), 322–334. </li>

<li>Gilovich, T., Kumar, A.,  Jampol, L. (in press). 
    <a href = "http://www.sciencedirect.com/science/article/pii/S105774081400093X">A wonderful life: experiential consumption and the pursuit of happiness. Journal of Consumer Psychology.</a> </li>

<li>Guevarra, D. A.,  Howell, R. T. (2014). 
    <a href = "http://www.sciencedirect.com/science/article/pii/S1057740814000631">To have in order to do: Exploring the effects of consuming experiential products on well-being.</a> Journal of Consumer Psychology. </li>
            
            </ul>
        </p>
        
         <h1>Measuring and Understanding Happiness</h1>
        <p><ul>
<li>Terwee, C. B., Bot, S. D., de Boer, M. R., van der Windt, D. A., Knol, D. L., Dekker, J., Bouter L. M., and de Vet. H. C. W. (2007). <a href = "http://www.jclinepi.com/article/S0895-4356%2806%2900174-0/abstract">Quality criteria were proposed for measurement properties of health status questionnaires.</a> Journal of clinical epidemiology, 60(1), 34-42.</li>
            <li>
			Conner and Reid, 2011	Conner and Reid	Effects of Intensive Mobile Happiness Reporting in Daily Life.	Social Psychological and Personality Science 2012 3:315	
            </li>
    
            <li>
Miron-Shatz et al, 2009	Miron-Shatz et al	Memories of Yesterday’s Emotions: Does the Valence of Experience Affect the Memory-Experience Gap?	Emotion
2009, Vol. 9, No. 6, 885–891"											
            </li>
          </ul>  
        </p>
        
        </section>
    </div>
{% endblock %} 
